:root {
    --headingFont: Oswald, sans serif;
    --paragraphFont: Noto Serif, san serif;
    
    --primaryColor: white;
    --secondaryColor: #D3D3D3;
    --accentColor:#023047;
}

header {
    background-color: var(--secondaryColor);
}

header:hover {
    opacity: 80%;
}

nav {
    margin-top: 40px;   
}

#active {
    border-bottom: 2px solid black;
}

.navigation.show li {
    display: block;
}

.navigation li {
    width: 100%;
    height: 1.5rem;
    list-style-type: none;
    text-align: center;
    display: none;
}

.navigation a {
    text-decoration: none;
    color: inherit;
}

.navigation li:hover {
    background-color: var(--accentColor);
    color: white;
}

#hamMenu {
    position: absolute;
    top: 10px;
    right: 20px;
}


.headerTitle img {
    max-width: 50px;
    max-height: 50px;
    margin-top: 15px;
    margin-right: 20px;
} 

.headerTitle {
    display: flex;
    justify-content: left;
    margin: 10px;
    text-align: center;

}

footer {
    background-color: var(--secondaryColor);
    font-size: 9px;
}

.contact {
    padding: 1rem;
    text-wrap:pretty;
    font-family: var(--paragraphFont);
}

.socials {
    margin-top: 30px;
    padding: 1rem;
    text-align: center;
    display: flex;
    flex-direction: column;
}

.course {
    padding: 1rem;
    text-wrap: pretty;
    font-family: var(--paragraphFont);
}

.socialMedia {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

.facebook {
    text-decoration: none;
    border: 0;
    width: 36px;
    height: 36px;
    padding: 2px;
    margin: 5px;
    color: #0172e6;
    border-radius: 50%;
    background-color: #0d2744;
}

.twitter {
    text-decoration: none;
    border: 0;
    width: 36px;
    height: 36px;
    padding: 2px;
    margin: 5px;
    color: #0172e6;
    border-radius:50%;
    background-color: #0d2744;
}

.youtube {
    text-decoration:none;
    border:0;
    width:36px;
    height:36px;
    padding:2px;
    margin:5px;
    color:#0172e6;
    border-radius:50%;
    background-color:#0d2744;
}

.niftybutton-facebook {
    display:block;
    fill:currentColor;
}

.niftybutton-twitterx {
    display:block;
    fill:currentColor;
}

.niftybutton-youtube {
    display:block;
    fill:currentColor;
}

@media (min-width: 750px) {
    header {
        display: grid;
        grid-template-columns: 1 1 100%;
    }    

    .menu{
        grid-column: 2/3;
    }

    #hamMenu {
        display: none;
    }

    .navigation {
        display: flex;
        justify-content: space-evenly;
        margin-right: 30px;
        cursor: pointer;
    }

    .navigation li {
        display: block;
    }
    footer {
        display: grid;
        grid-template-columns: 1 1 1 100%;
    }

    .contact {
        grid-column: 1/2;
    }
    .socials {
        grid-column: 2/3;
        
        flex-direction: row;
        justify-content: space-around;
    }

    .course {
        grid-column: 3/4;
    }

}