:root {
    --headingFont:  "Baskervville SC", sans serif;
    --paragraphFont: "Sue Ellen Francisco", sans serif;

    --primaryColor: #fff;
    --secondaryColor: #ec7297;
    --accentColor: #6bccc3;
}

/* general applications to each page */
body {
    margin: 0;
    padding: 0;
    max-width: 100%;
}

header {
    display: block;
    max-width: 100%;
    margin: auto;
}

main {
    max-width: 1400px;
    box-sizing: border-box;
    margin: auto;
    padding: 0;
    text-align: center;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}



h2, p, ul, img {
    padding: 10px;
}


h2, li {
    font-family: var(--headingFont);
    font-size: 2rem;
    text-align: center;
}

p, span{
    font-family: var(--paragraphFont);
    font-size: 1.5rem;
}

/* header */
.logo {
    background-color: var(--secondaryColor);
}

.logo img {
    margin: auto;
}

#headerLogo {
    margin: auto;
    position: relative;
    display: block;
    padding: 0;
}



#banner {
    background-color: var(--accentColor);
    width: 100%;
    margin: auto;
    font-size: 1.3rem;
    display: flex;
    text-align: center;
    padding: 5px;
}

.welcomeMessage {
    text-align: center;
    margin: auto;
    cursor: pointer;
    align-content: center;
}

/* ham menu */

#hamMenu {
    position: absolute;
    top: 200px;
    right: 50px;
    display: block;
}

ul {
    margin: 10px auto;
    justify-content:  center;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;

}

.navigation li {
    display: none;
    list-style-type: none;
    max-width: 600px;
    background-color: var(--secondaryColor);
    margin: 3px auto;
    text-align: center;
    cursor: pointer;
}

.open li {
    display: block;
}

li:hover {
    border: 5px solid var(--accentColor);
}

.navigation a {
    text-decoration: none;
    color: black;
}

/* site plan page */
.pink {
    background-color: var(--secondaryColor);
    width: 150px;
    height: 50px;
    border: 1px solid black;
}

.white {
    background-color: var(--primaryColor);
    width: 150px;
    height: 50px;
    border: 1px solid black;
}

.blueGreen {
    background-color: var(--accentColor);
    width: 150px;
    height: 50px;
    border: 1px solid black;
}

.colors {
    display: flex;
    align-content: space-around;
    align-items: center;
    padding: 20px;
}

@media (min-width: 750px) {
    .navigation li {
        display: block;
        width: 100%;
    }

    .navigation {
        display: flex;
    }

    #hamMenu {
        display: none;
    }

}
