:root {
    --headingFont:  "Baskervville SC", sans serif;
    --paragraphFont: "Sue Ellen Francisco", sans serif;

    --primaryColor: #fff;
    --secondaryColor: #ec7297;
    --accentColor: #6bccc3;
}

body {
    margin: 0;
    padding: 0;
    max-width: 100%;
}

main {
    max-width: 1400px;
    box-sizing: border-box;
    margin: auto;
    padding: 0;
    text-align: center;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

h2, p, ul, img {
    padding: 10px;
}


h2 {
    font-family: var(--headingFont);
    font-size: 2rem;
    text-align: center;
}

p, li {
    font-family: var(--paragraphFont);
}

.logo {
    background-color: var(--secondaryColor);
}

.logo img {
    margin: auto;
}

ul {
    width: 500px;
    margin: auto;
    justify-content:  center;
}

.pink {
    background-color: var(--secondaryColor);
    width: 150px;
    height: 50px;
    border: 1px solid black;
}

.white {
    background-color: var(--primaryColor);
    width: 150px;
    height: 50px;
    border: 1px solid black;
}

.blueGreen {
    background-color: var(--accentColor);
    width: 150px;
    height: 50px;
    border: 1px solid black;
}

.colors {
    display: flex;
    align-content: space-around;
    align-items: center;
}
